{
    "openapi": "3.0.3",
    "info": {
        "title": "Steamworks Web API",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.steampowered.com"
        }
    ],
    "paths": {
        "/IClientStats_1046930/ReportEvent/v1": {
            "post": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IClientStats_1046930#ReportEvent"
                },
                "tags": [
                    "IClientStats"
                ]
            }
        },
        "/IGCVersion_1046930/GetClientVersion/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IGCVersion_1046930#GetClientVersion"
                },
                "tags": [
                    "IGCVersion"
                ]
            }
        },
        "/IGCVersion_1046930/GetServerVersion/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IGCVersion_1046930#GetServerVersion"
                },
                "tags": [
                    "IGCVersion"
                ]
            }
        },
        "/IGCVersion_1269260/GetClientVersion/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IGCVersion_1269260#GetClientVersion"
                },
                "tags": [
                    "IGCVersion"
                ]
            }
        },
        "/IGCVersion_1269260/GetServerVersion/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IGCVersion_1269260#GetServerVersion"
                },
                "tags": [
                    "IGCVersion"
                ]
            }
        },
        "/IGCVersion_205790/GetClientVersion/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IGCVersion_205790#GetClientVersion"
                },
                "tags": [
                    "IGCVersion"
                ]
            }
        },
        "/IGCVersion_205790/GetServerVersion/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IGCVersion_205790#GetServerVersion"
                },
                "tags": [
                    "IGCVersion"
                ]
            }
        },
        "/IGCVersion_440/GetClientVersion/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IGCVersion_440#GetClientVersion"
                },
                "tags": [
                    "IGCVersion"
                ]
            }
        },
        "/IGCVersion_440/GetServerVersion/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IGCVersion_440#GetServerVersion"
                },
                "tags": [
                    "IGCVersion"
                ]
            }
        },
        "/IGCVersion_570/GetClientVersion/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IGCVersion_570#GetClientVersion"
                },
                "tags": [
                    "IGCVersion"
                ]
            }
        },
        "/IGCVersion_570/GetServerVersion/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IGCVersion_570#GetServerVersion"
                },
                "tags": [
                    "IGCVersion"
                ]
            }
        },
        "/IGCVersion_583950/GetClientVersion/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IGCVersion_583950#GetClientVersion"
                },
                "tags": [
                    "IGCVersion"
                ]
            }
        },
        "/IGCVersion_583950/GetServerVersion/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IGCVersion_583950#GetServerVersion"
                },
                "tags": [
                    "IGCVersion"
                ]
            }
        },
        "/IGCVersion_730/GetServerVersion/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IGCVersion_730#GetServerVersion"
                },
                "tags": [
                    "IGCVersion"
                ]
            }
        },
        "/IPortal2Leaderboards_620/GetBucketizedData/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [
                    {
                        "name": "leaderboardName",
                        "in": "query",
                        "description": "The leaderboard name to fetch data for.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IPortal2Leaderboards_620#GetBucketizedData"
                },
                "tags": [
                    "IPortal2Leaderboards"
                ]
            }
        },
        "/ISteamApps/GetAppList/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ISteamApps#GetAppList"
                },
                "tags": [
                    "ISteamApps"
                ]
            }
        },
        "/ISteamApps/GetAppList/v2": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ISteamApps#GetAppList"
                },
                "tags": [
                    "ISteamApps"
                ]
            }
        },
        "/ISteamApps/GetSDRConfig/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [
                    {
                        "name": "appid",
                        "in": "query",
                        "description": "AppID of game",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ISteamApps#GetSDRConfig"
                },
                "tags": [
                    "ISteamApps"
                ]
            }
        },
        "/ISteamApps/GetServersAtAddress/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [
                    {
                        "name": "addr",
                        "in": "query",
                        "description": "IP or IP:queryport to list",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ISteamApps#GetServersAtAddress"
                },
                "tags": [
                    "ISteamApps"
                ]
            }
        },
        "/ISteamApps/UpToDateCheck/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [
                    {
                        "name": "appid",
                        "in": "query",
                        "description": "AppID of game",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "version",
                        "in": "query",
                        "description": "The installed version of the game",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ISteamApps#UpToDateCheck"
                },
                "tags": [
                    "ISteamApps"
                ]
            }
        },
        "/ISteamBroadcast/ViewerHeartbeat/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [
                    {
                        "name": "steamid",
                        "in": "query",
                        "description": "Steam ID of the broadcaster",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "sessionid",
                        "in": "query",
                        "description": "Broadcast Session ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Viewer token",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "stream",
                        "in": "query",
                        "description": "video stream representation watching",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ISteamBroadcast#ViewerHeartbeat"
                },
                "tags": [
                    "ISteamBroadcast"
                ]
            }
        },
        "/ISteamDirectory/GetCMList/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [
                    {
                        "name": "cellid",
                        "in": "query",
                        "description": "Client's Steam cell ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "maxcount",
                        "in": "query",
                        "description": "Max number of servers to return",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ISteamDirectory#GetCMList"
                },
                "tags": [
                    "ISteamDirectory"
                ]
            }
        },
        "/ISteamDirectory/GetCSList/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [
                    {
                        "name": "cellid",
                        "in": "query",
                        "description": "Client's Steam cell ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "maxcount",
                        "in": "query",
                        "description": "Max number of servers to return",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ISteamDirectory#GetCSList"
                },
                "tags": [
                    "ISteamDirectory"
                ]
            }
        },
        "/ISteamDirectory/GetSteamPipeDomains/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ISteamDirectory#GetSteamPipeDomains"
                },
                "tags": [
                    "ISteamDirectory"
                ]
            }
        },
        "/ISteamNews/GetNewsForApp/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [
                    {
                        "name": "appid",
                        "in": "query",
                        "description": "AppID to retrieve news for",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "maxlength",
                        "in": "query",
                        "description": "Maximum length for the content to return, if this is 0 the full content is returned, if it's less then a blurb is generated to fit.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "enddate",
                        "in": "query",
                        "description": "Retrieve posts earlier than this date (unix epoch timestamp)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "# of posts to retrieve (default 20)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "description": "Comma-separated list of tags to filter by (e.g. 'patchnodes')",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ISteamNews#GetNewsForApp"
                },
                "tags": [
                    "ISteamNews"
                ]
            }
        },
        "/ISteamNews/GetNewsForApp/v2": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [
                    {
                        "name": "appid",
                        "in": "query",
                        "description": "AppID to retrieve news for",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "maxlength",
                        "in": "query",
                        "description": "Maximum length for the content to return, if this is 0 the full content is returned, if it's less then a blurb is generated to fit.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "enddate",
                        "in": "query",
                        "description": "Retrieve posts earlier than this date (unix epoch timestamp)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "# of posts to retrieve (default 20)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "feeds",
                        "in": "query",
                        "description": "Comma-separated list of feed names to return news for",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "description": "Comma-separated list of tags to filter by (e.g. 'patchnodes')",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ISteamNews#GetNewsForApp"
                },
                "tags": [
                    "ISteamNews"
                ]
            }
        },
        "/ISteamRemoteStorage/GetCollectionDetails/v1": {
            "post": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ISteamRemoteStorage#GetCollectionDetails"
                },
                "tags": [
                    "ISteamRemoteStorage"
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "collectioncount": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "Number of collections being requested"
                                    },
                                    "publishedfileids[0]": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "collection ids to get the details for"
                                    }
                                },
                                "required": [
                                    "collectioncount",
                                    "publishedfileids[0]"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/ISteamRemoteStorage/GetPublishedFileDetails/v1": {
            "post": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ISteamRemoteStorage#GetPublishedFileDetails"
                },
                "tags": [
                    "ISteamRemoteStorage"
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "itemcount": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "Number of items being requested"
                                    },
                                    "publishedfileids[0]": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "published file id to look up"
                                    }
                                },
                                "required": [
                                    "itemcount",
                                    "publishedfileids[0]"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/ISteamUserAuth/AuthenticateUser/v1": {
            "post": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ISteamUserAuth#AuthenticateUser"
                },
                "tags": [
                    "ISteamUserAuth"
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "steamid": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "Should be the users steamid, unencrypted."
                                    },
                                    "sessionkey": {
                                        "type": "string",
                                        "format": "binary",
                                        "description": "Should be a 32 byte random blob of data, which is then encrypted with RSA using the Steam system's public key.  Randomness is important here for security."
                                    },
                                    "encrypted_loginkey": {
                                        "type": "string",
                                        "format": "binary",
                                        "description": "Should be the users hashed loginkey, AES encrypted with the sessionkey."
                                    }
                                },
                                "required": [
                                    "steamid",
                                    "sessionkey",
                                    "encrypted_loginkey"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/ISteamUserOAuth/GetTokenDetails/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth2 token for which to return details",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ISteamUserOAuth#GetTokenDetails"
                },
                "tags": [
                    "ISteamUserOAuth"
                ]
            }
        },
        "/ISteamUserStats/GetGlobalAchievementPercentagesForApp/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [
                    {
                        "name": "gameid",
                        "in": "query",
                        "description": "GameID to retrieve the achievement percentages for",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ISteamUserStats#GetGlobalAchievementPercentagesForApp"
                },
                "tags": [
                    "ISteamUserStats"
                ]
            }
        },
        "/ISteamUserStats/GetGlobalAchievementPercentagesForApp/v2": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [
                    {
                        "name": "gameid",
                        "in": "query",
                        "description": "GameID to retrieve the achievement percentages for",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ISteamUserStats#GetGlobalAchievementPercentagesForApp"
                },
                "tags": [
                    "ISteamUserStats"
                ]
            }
        },
        "/ISteamUserStats/GetGlobalStatsForGame/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [
                    {
                        "name": "appid",
                        "in": "query",
                        "description": "AppID that we're getting global stats for",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "Number of stats get data for",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "name[0]",
                        "in": "query",
                        "description": "Names of stat to get data for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "startdate",
                        "in": "query",
                        "description": "Start date for daily totals (unix epoch timestamp)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "enddate",
                        "in": "query",
                        "description": "End date for daily totals (unix epoch timestamp)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ISteamUserStats#GetGlobalStatsForGame"
                },
                "tags": [
                    "ISteamUserStats"
                ]
            }
        },
        "/ISteamUserStats/GetNumberOfCurrentPlayers/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [
                    {
                        "name": "appid",
                        "in": "query",
                        "description": "AppID that we're getting user count for",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ISteamUserStats#GetNumberOfCurrentPlayers"
                },
                "tags": [
                    "ISteamUserStats"
                ]
            }
        },
        "/ISteamWebAPIUtil/GetServerInfo/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ISteamWebAPIUtil#GetServerInfo"
                },
                "tags": [
                    "ISteamWebAPIUtil"
                ]
            }
        },
        "/ISteamWebAPIUtil/GetSupportedAPIList/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [
                    {
                        "name": "key",
                        "in": "query",
                        "description": "access key",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ISteamWebAPIUtil#GetSupportedAPIList"
                },
                "tags": [
                    "ISteamWebAPIUtil"
                ]
            }
        },
        "/ISteamWebUserPresenceOAuth/PollStatus/v1": {
            "post": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ISteamWebUserPresenceOAuth#PollStatus"
                },
                "tags": [
                    "ISteamWebUserPresenceOAuth"
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "steamid": {
                                        "type": "string",
                                        "description": "Steam ID of the user"
                                    },
                                    "umqid": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "UMQ Session ID"
                                    },
                                    "message": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "Message that was last known to the user"
                                    },
                                    "pollid": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "Caller-specific poll id"
                                    },
                                    "sectimeout": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "Long-poll timeout in seconds"
                                    },
                                    "secidletime": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "How many seconds is client considering itself idle, e.g. screen is off"
                                    },
                                    "use_accountids": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "Boolean, 0 (default): return steamid_from in output, 1: return accountid_from"
                                    }
                                },
                                "required": [
                                    "steamid",
                                    "umqid",
                                    "message"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/ITFSystem_440/GetWorldStatus/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ITFSystem_440#GetWorldStatus"
                },
                "tags": [
                    "ITFSystem"
                ]
            }
        },
        "/IBroadcastService/PostGameDataFrameRTMP/v1": {
            "post": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [
                    {
                        "name": "input_json",
                        "in": "query",
                        "description": "An alternative to the request body; pass arguments as a URL-encoded JSON blob. The \"key\" and \"format\" fields should still be passed as separate parameters",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IBroadcastService#PostGameDataFrameRTMP"
                },
                "tags": [
                    "IBroadcastService"
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "appid": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "(Required) AppID of the game being broadcasted"
                                    },
                                    "steamid": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "(Required) Broadcasters SteamID"
                                    },
                                    "rtmp_token": {
                                        "type": "string",
                                        "description": "(Required) Valid RTMP token for the Broadcaster"
                                    },
                                    "frame_data": {
                                        "type": "string",
                                        "description": "(Required) game data frame expressing current state of game (string, zipped, whatever)"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/IContentServerDirectoryService/GetServersForSteamPipe/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [
                    {
                        "name": "cell_id",
                        "in": "query",
                        "description": "(Required) client Cell ID",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "max_servers",
                        "in": "query",
                        "description": "max servers in response list",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "ip_override",
                        "in": "query",
                        "description": "client IP address",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "launcher_type",
                        "in": "query",
                        "description": "launcher type",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "ipv6_public",
                        "in": "query",
                        "description": "client public ipv6 address if it knows it",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "input_json",
                        "in": "query",
                        "description": "An alternative to the query string parameters; pass arguments as a URL-encoded JSON blob. The \"key\" and \"format\" fields should still be passed as separate parameters",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IContentServerDirectoryService#GetServersForSteamPipe"
                },
                "tags": [
                    "IContentServerDirectoryService"
                ]
            }
        },
        "/IContentServerDirectoryService/GetClientUpdateHosts/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [
                    {
                        "name": "cached_signature",
                        "in": "query",
                        "description": "(Required)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "input_json",
                        "in": "query",
                        "description": "An alternative to the query string parameters; pass arguments as a URL-encoded JSON blob. The \"key\" and \"format\" fields should still be passed as separate parameters",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IContentServerDirectoryService#GetClientUpdateHosts"
                },
                "tags": [
                    "IContentServerDirectoryService"
                ]
            }
        },
        "/IContentServerDirectoryService/GetDepotPatchInfo/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [
                    {
                        "name": "appid",
                        "in": "query",
                        "description": "(Required)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "depotid",
                        "in": "query",
                        "description": "(Required)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "source_manifestid",
                        "in": "query",
                        "description": "(Required)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "target_manifestid",
                        "in": "query",
                        "description": "(Required)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "input_json",
                        "in": "query",
                        "description": "An alternative to the query string parameters; pass arguments as a URL-encoded JSON blob. The \"key\" and \"format\" fields should still be passed as separate parameters",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IContentServerDirectoryService#GetDepotPatchInfo"
                },
                "tags": [
                    "IContentServerDirectoryService"
                ]
            }
        },
        "/IPublishedFileService/GetUserVoteSummary/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [
                    {
                        "name": "publishedfileids",
                        "in": "query",
                        "description": "(Required)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "input_json",
                        "in": "query",
                        "description": "An alternative to the query string parameters; pass arguments as a URL-encoded JSON blob. The \"key\" and \"format\" fields should still be passed as separate parameters",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IPublishedFileService#GetUserVoteSummary"
                },
                "tags": [
                    "IPublishedFileService"
                ]
            }
        },
        "/IPlayerService/RecordOfflinePlaytime/v1": {
            "post": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [
                    {
                        "name": "input_json",
                        "in": "query",
                        "description": "An alternative to the request body; pass arguments as a URL-encoded JSON blob. The \"key\" and \"format\" fields should still be passed as separate parameters",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IPlayerService#RecordOfflinePlaytime"
                },
                "tags": [
                    "IPlayerService"
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "steamid": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "(Required)"
                                    },
                                    "ticket": {
                                        "type": "string",
                                        "description": "(Required)"
                                    },
                                    "play_sessions": {
                                        "type": "string",
                                        "format": "{message}",
                                        "description": "(Required)"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/IGameNotificationsService/UserCreateSession/v1": {
            "post": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [
                    {
                        "name": "input_json",
                        "in": "query",
                        "description": "An alternative to the request body; pass arguments as a URL-encoded JSON blob. The \"key\" and \"format\" fields should still be passed as separate parameters",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IGameNotificationsService#UserCreateSession"
                },
                "tags": [
                    "IGameNotificationsService"
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "appid": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "(Required) The appid to create the session for."
                                    },
                                    "context": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "(Required) Game-specified context value the game can used to associate the session with some object on their backend."
                                    },
                                    "title": {
                                        "type": "string",
                                        "format": "{message}",
                                        "description": "(Required) The title of the session to be displayed within each user's list of sessions."
                                    },
                                    "users": {
                                        "type": "string",
                                        "format": "{message}",
                                        "description": "(Required) The initial state of all users in the session."
                                    },
                                    "steamid": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "(Optional) steamid to make the request on behalf of -- if specified, the user must be in the session and all users being added to the session must be friends with the user."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/IGameNotificationsService/UserUpdateSession/v1": {
            "post": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [
                    {
                        "name": "input_json",
                        "in": "query",
                        "description": "An alternative to the request body; pass arguments as a URL-encoded JSON blob. The \"key\" and \"format\" fields should still be passed as separate parameters",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IGameNotificationsService#UserUpdateSession"
                },
                "tags": [
                    "IGameNotificationsService"
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "sessionid": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "(Required) The sessionid to update."
                                    },
                                    "appid": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "(Required) The appid of the session to update."
                                    },
                                    "title": {
                                        "type": "string",
                                        "format": "{message}",
                                        "description": "(Optional) The new title of the session.  If not specified, the title will not be changed."
                                    },
                                    "users": {
                                        "type": "string",
                                        "format": "{message}",
                                        "description": "(Optional) A list of users whose state will be updated to reflect the given state. If the users are not already in the session, they will be added to it."
                                    },
                                    "steamid": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "(Optional) steamid to make the request on behalf of -- if specified, the user must be in the session and all users being added to the session must be friends with the user."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/IGameNotificationsService/UserDeleteSession/v1": {
            "post": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [
                    {
                        "name": "input_json",
                        "in": "query",
                        "description": "An alternative to the request body; pass arguments as a URL-encoded JSON blob. The \"key\" and \"format\" fields should still be passed as separate parameters",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IGameNotificationsService#UserDeleteSession"
                },
                "tags": [
                    "IGameNotificationsService"
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "sessionid": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "(Required) The sessionid to delete."
                                    },
                                    "appid": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "(Required) The appid of the session to delete."
                                    },
                                    "steamid": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "(Optional) steamid to make the request on behalf of -- if specified, the user must be in the session."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "externalDocs": {
        "url": "https://partner.steamgames.com/doc/webapi"
    }
}