{
    "openapi": "3.0.3",
    "info": {
        "title": "Steamworks Web API",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.steampowered.com"
        }
    ],
    "paths": {
        "/IClientStats_1046930/ReportEvent/v1": {
            "post": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IClientStats_1046930#ReportEvent"
                },
                "tags": [
                    "IClientStats"
                ]
            }
        },
        "/IGCVersion_1046930/GetClientVersion/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IGCVersion_1046930#GetClientVersion"
                },
                "tags": [
                    "IGCVersion"
                ]
            }
        },
        "/IGCVersion_1046930/GetServerVersion/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IGCVersion_1046930#GetServerVersion"
                },
                "tags": [
                    "IGCVersion"
                ]
            }
        },
        "/IGCVersion_1269260/GetClientVersion/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IGCVersion_1269260#GetClientVersion"
                },
                "tags": [
                    "IGCVersion"
                ]
            }
        },
        "/IGCVersion_1269260/GetServerVersion/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IGCVersion_1269260#GetServerVersion"
                },
                "tags": [
                    "IGCVersion"
                ]
            }
        },
        "/IGCVersion_205790/GetClientVersion/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IGCVersion_205790#GetClientVersion"
                },
                "tags": [
                    "IGCVersion"
                ]
            }
        },
        "/IGCVersion_205790/GetServerVersion/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IGCVersion_205790#GetServerVersion"
                },
                "tags": [
                    "IGCVersion"
                ]
            }
        },
        "/IGCVersion_440/GetClientVersion/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IGCVersion_440#GetClientVersion"
                },
                "tags": [
                    "IGCVersion"
                ]
            }
        },
        "/IGCVersion_440/GetServerVersion/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IGCVersion_440#GetServerVersion"
                },
                "tags": [
                    "IGCVersion"
                ]
            }
        },
        "/IGCVersion_570/GetClientVersion/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IGCVersion_570#GetClientVersion"
                },
                "tags": [
                    "IGCVersion"
                ]
            }
        },
        "/IGCVersion_570/GetServerVersion/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IGCVersion_570#GetServerVersion"
                },
                "tags": [
                    "IGCVersion"
                ]
            }
        },
        "/IGCVersion_583950/GetClientVersion/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IGCVersion_583950#GetClientVersion"
                },
                "tags": [
                    "IGCVersion"
                ]
            }
        },
        "/IGCVersion_583950/GetServerVersion/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IGCVersion_583950#GetServerVersion"
                },
                "tags": [
                    "IGCVersion"
                ]
            }
        },
        "/IGCVersion_730/GetServerVersion/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IGCVersion_730#GetServerVersion"
                },
                "tags": [
                    "IGCVersion"
                ]
            }
        },
        "/IPortal2Leaderboards_620/GetBucketizedData/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [
                    {
                        "name": "leaderboardName",
                        "in": "query",
                        "description": "The leaderboard name to fetch data for.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IPortal2Leaderboards_620#GetBucketizedData"
                },
                "tags": [
                    "IPortal2Leaderboards"
                ]
            }
        },
        "/ISteamApps/GetAppList/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ISteamApps#GetAppList"
                },
                "tags": [
                    "ISteamApps"
                ]
            }
        },
        "/ISteamApps/GetAppList/v2": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ISteamApps#GetAppList"
                },
                "tags": [
                    "ISteamApps"
                ]
            }
        },
        "/ISteamApps/GetSDRConfig/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [
                    {
                        "name": "appid",
                        "in": "query",
                        "description": "AppID of game",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ISteamApps#GetSDRConfig"
                },
                "tags": [
                    "ISteamApps"
                ]
            }
        },
        "/ISteamApps/GetServersAtAddress/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [
                    {
                        "name": "addr",
                        "in": "query",
                        "description": "IP or IP:queryport to list",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ISteamApps#GetServersAtAddress"
                },
                "tags": [
                    "ISteamApps"
                ]
            }
        },
        "/ISteamApps/UpToDateCheck/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [
                    {
                        "name": "appid",
                        "in": "query",
                        "description": "AppID of game",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "version",
                        "in": "query",
                        "description": "The installed version of the game",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ISteamApps#UpToDateCheck"
                },
                "tags": [
                    "ISteamApps"
                ]
            }
        },
        "/ISteamBroadcast/ViewerHeartbeat/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [
                    {
                        "name": "steamid",
                        "in": "query",
                        "description": "Steam ID of the broadcaster",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "sessionid",
                        "in": "query",
                        "description": "Broadcast Session ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Viewer token",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "stream",
                        "in": "query",
                        "description": "video stream representation watching",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ISteamBroadcast#ViewerHeartbeat"
                },
                "tags": [
                    "ISteamBroadcast"
                ]
            }
        },
        "/ISteamDirectory/GetCMList/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [
                    {
                        "name": "cellid",
                        "in": "query",
                        "description": "Client's Steam cell ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "maxcount",
                        "in": "query",
                        "description": "Max number of servers to return",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ISteamDirectory#GetCMList"
                },
                "tags": [
                    "ISteamDirectory"
                ]
            }
        },
        "/ISteamDirectory/GetCSList/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [
                    {
                        "name": "cellid",
                        "in": "query",
                        "description": "Client's Steam cell ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "maxcount",
                        "in": "query",
                        "description": "Max number of servers to return",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ISteamDirectory#GetCSList"
                },
                "tags": [
                    "ISteamDirectory"
                ]
            }
        },
        "/ISteamDirectory/GetSteamPipeDomains/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ISteamDirectory#GetSteamPipeDomains"
                },
                "tags": [
                    "ISteamDirectory"
                ]
            }
        },
        "/ISteamNews/GetNewsForApp/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [
                    {
                        "name": "appid",
                        "in": "query",
                        "description": "AppID to retrieve news for",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "maxlength",
                        "in": "query",
                        "description": "Maximum length for the content to return, if this is 0 the full content is returned, if it's less then a blurb is generated to fit.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "enddate",
                        "in": "query",
                        "description": "Retrieve posts earlier than this date (unix epoch timestamp)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "# of posts to retrieve (default 20)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "description": "Comma-separated list of tags to filter by (e.g. 'patchnodes')",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ISteamNews#GetNewsForApp"
                },
                "tags": [
                    "ISteamNews"
                ]
            }
        },
        "/ISteamNews/GetNewsForApp/v2": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [
                    {
                        "name": "appid",
                        "in": "query",
                        "description": "AppID to retrieve news for",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "maxlength",
                        "in": "query",
                        "description": "Maximum length for the content to return, if this is 0 the full content is returned, if it's less then a blurb is generated to fit.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "enddate",
                        "in": "query",
                        "description": "Retrieve posts earlier than this date (unix epoch timestamp)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "# of posts to retrieve (default 20)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "feeds",
                        "in": "query",
                        "description": "Comma-separated list of feed names to return news for",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "description": "Comma-separated list of tags to filter by (e.g. 'patchnodes')",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ISteamNews#GetNewsForApp"
                },
                "tags": [
                    "ISteamNews"
                ]
            }
        },
        "/ISteamRemoteStorage/GetCollectionDetails/v1": {
            "post": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ISteamRemoteStorage#GetCollectionDetails"
                },
                "tags": [
                    "ISteamRemoteStorage"
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "collectioncount": {
                                        "type": "string"
                                    },
                                    "publishedfileids[0]": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "collectioncount",
                                    "publishedfileids[0]"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/ISteamRemoteStorage/GetPublishedFileDetails/v1": {
            "post": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ISteamRemoteStorage#GetPublishedFileDetails"
                },
                "tags": [
                    "ISteamRemoteStorage"
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "itemcount": {
                                        "type": "string"
                                    },
                                    "publishedfileids[0]": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "itemcount",
                                    "publishedfileids[0]"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/ISteamUserAuth/AuthenticateUser/v1": {
            "post": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ISteamUserAuth#AuthenticateUser"
                },
                "tags": [
                    "ISteamUserAuth"
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "steamid": {
                                        "type": "string"
                                    },
                                    "sessionkey": {
                                        "type": "string"
                                    },
                                    "encrypted_loginkey": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "steamid",
                                    "sessionkey",
                                    "encrypted_loginkey"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/ISteamUserOAuth/GetTokenDetails/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth2 token for which to return details",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ISteamUserOAuth#GetTokenDetails"
                },
                "tags": [
                    "ISteamUserOAuth"
                ]
            }
        },
        "/ISteamUserStats/GetGlobalAchievementPercentagesForApp/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [
                    {
                        "name": "gameid",
                        "in": "query",
                        "description": "GameID to retrieve the achievement percentages for",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ISteamUserStats#GetGlobalAchievementPercentagesForApp"
                },
                "tags": [
                    "ISteamUserStats"
                ]
            }
        },
        "/ISteamUserStats/GetGlobalAchievementPercentagesForApp/v2": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [
                    {
                        "name": "gameid",
                        "in": "query",
                        "description": "GameID to retrieve the achievement percentages for",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ISteamUserStats#GetGlobalAchievementPercentagesForApp"
                },
                "tags": [
                    "ISteamUserStats"
                ]
            }
        },
        "/ISteamUserStats/GetGlobalStatsForGame/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [
                    {
                        "name": "appid",
                        "in": "query",
                        "description": "AppID that we're getting global stats for",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "Number of stats get data for",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "name[0]",
                        "in": "query",
                        "description": "Names of stat to get data for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "startdate",
                        "in": "query",
                        "description": "Start date for daily totals (unix epoch timestamp)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "enddate",
                        "in": "query",
                        "description": "End date for daily totals (unix epoch timestamp)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ISteamUserStats#GetGlobalStatsForGame"
                },
                "tags": [
                    "ISteamUserStats"
                ]
            }
        },
        "/ISteamUserStats/GetNumberOfCurrentPlayers/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [
                    {
                        "name": "appid",
                        "in": "query",
                        "description": "AppID that we're getting user count for",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ISteamUserStats#GetNumberOfCurrentPlayers"
                },
                "tags": [
                    "ISteamUserStats"
                ]
            }
        },
        "/ISteamWebAPIUtil/GetServerInfo/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ISteamWebAPIUtil#GetServerInfo"
                },
                "tags": [
                    "ISteamWebAPIUtil"
                ]
            }
        },
        "/ISteamWebAPIUtil/GetSupportedAPIList/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [
                    {
                        "name": "key",
                        "in": "query",
                        "description": "access key",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ISteamWebAPIUtil#GetSupportedAPIList"
                },
                "tags": [
                    "ISteamWebAPIUtil"
                ]
            }
        },
        "/ISteamWebUserPresenceOAuth/PollStatus/v1": {
            "post": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ISteamWebUserPresenceOAuth#PollStatus"
                },
                "tags": [
                    "ISteamWebUserPresenceOAuth"
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "steamid": {
                                        "type": "string"
                                    },
                                    "umqid": {
                                        "type": "string"
                                    },
                                    "message": {
                                        "type": "string"
                                    },
                                    "pollid": {
                                        "type": "string"
                                    },
                                    "sectimeout": {
                                        "type": "string"
                                    },
                                    "secidletime": {
                                        "type": "string"
                                    },
                                    "use_accountids": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "steamid",
                                    "umqid",
                                    "message"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/ITFSystem_440/GetWorldStatus/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/ITFSystem_440#GetWorldStatus"
                },
                "tags": [
                    "ITFSystem"
                ]
            }
        },
        "/IBroadcastService/PostGameDataFrameRTMP/v1": {
            "post": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IBroadcastService#PostGameDataFrameRTMP"
                },
                "tags": [
                    "IBroadcastService"
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "appid": {
                                        "type": "string"
                                    },
                                    "steamid": {
                                        "type": "string"
                                    },
                                    "rtmp_token": {
                                        "type": "string"
                                    },
                                    "frame_data": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "appid",
                                    "steamid",
                                    "rtmp_token",
                                    "frame_data"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/IContentServerDirectoryService/GetServersForSteamPipe/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IContentServerDirectoryService#GetServersForSteamPipe"
                },
                "tags": [
                    "IContentServerDirectoryService"
                ]
            }
        },
        "/IContentServerDirectoryService/GetClientUpdateHosts/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IContentServerDirectoryService#GetClientUpdateHosts"
                },
                "tags": [
                    "IContentServerDirectoryService"
                ]
            }
        },
        "/IContentServerDirectoryService/GetDepotPatchInfo/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IContentServerDirectoryService#GetDepotPatchInfo"
                },
                "tags": [
                    "IContentServerDirectoryService"
                ]
            }
        },
        "/IPublishedFileService/GetUserVoteSummary/v1": {
            "get": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IPublishedFileService#GetUserVoteSummary"
                },
                "tags": [
                    "IPublishedFileService"
                ]
            }
        },
        "/IPlayerService/RecordOfflinePlaytime/v1": {
            "post": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IPlayerService#RecordOfflinePlaytime"
                },
                "tags": [
                    "IPlayerService"
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "steamid": {
                                        "type": "string"
                                    },
                                    "ticket": {
                                        "type": "string"
                                    },
                                    "play_sessions": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "steamid",
                                    "ticket",
                                    "play_sessions"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/IGameNotificationsService/UserCreateSession/v1": {
            "post": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IGameNotificationsService#UserCreateSession"
                },
                "tags": [
                    "IGameNotificationsService"
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "appid": {
                                        "type": "string"
                                    },
                                    "context": {
                                        "type": "string"
                                    },
                                    "title": {
                                        "type": "string"
                                    },
                                    "users": {
                                        "type": "string"
                                    },
                                    "steamid": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "appid",
                                    "context",
                                    "title",
                                    "users",
                                    "steamid"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/IGameNotificationsService/UserUpdateSession/v1": {
            "post": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IGameNotificationsService#UserUpdateSession"
                },
                "tags": [
                    "IGameNotificationsService"
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "sessionid": {
                                        "type": "string"
                                    },
                                    "appid": {
                                        "type": "string"
                                    },
                                    "title": {
                                        "type": "string"
                                    },
                                    "users": {
                                        "type": "string"
                                    },
                                    "steamid": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "sessionid",
                                    "appid",
                                    "title",
                                    "users",
                                    "steamid"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/IGameNotificationsService/UserDeleteSession/v1": {
            "post": {
                "responses": {
                    "200": {
                        "description": "successful"
                    }
                },
                "parameters": [],
                "externalDocs": {
                    "url": "https://partner.steamgames.com/doc/webapi/IGameNotificationsService#UserDeleteSession"
                },
                "tags": [
                    "IGameNotificationsService"
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "sessionid": {
                                        "type": "string"
                                    },
                                    "appid": {
                                        "type": "string"
                                    },
                                    "steamid": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "sessionid",
                                    "appid",
                                    "steamid"
                                ]
                            }
                        }
                    }
                }
            }
        }
    },
    "externalDocs": {
        "url": "https://partner.steamgames.com/doc/webapi"
    }
}